[Unit]
Description=Wyoming openWakeWord

[Service]
Type=simple
ExecStart=/root/wyoming-openwakeword/script/run --uri 'tcp://127.0.0.1:10400' --preload-model 'hey_jarvis'
WorkingDirectory=/root/wyoming-openwakeword
Restart=always
RestartSec=1

[Install]
WantedBy=default.target